body {
  background: black url("assets/galaxy-milky-way-orbit-110854.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  font-family: sans-serif;
}
